<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso-Angular Hora de Codar</title>
</head>
<body>
  <h1>Hello World Angular</h1>
  <app-first-component></app-first-component>
  <!-- Passando um dodo do componente pai para o componente filho -->
  <app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
  <app-directives></app-directives>
  <app-if-render></app-if-render>
  <app-events></app-events>
  <app-emiter></app-emiter>
  <app-list-render></app-list-render>
  <app-pipes></app-pipes>
  <app-two-way-binding></app-two-way-binding>
</body>
</html>